.topbar{
    height:70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 25px;

    border-bottom:1px solid var(--card-border);
    background-color:var(--navbar-color);
}

.topbar-actions{
    display:flex;
    gap:15px;
}

.hamburger-btn,
.theme-btn,
.profile-btn{
    border:none;
    color: var(--text-color);
    background:none;
    font-size:1.3rem;
    cursor:pointer;
}